*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #010330;
    color: lightblue;
}
.start h6{
    text-indent: 3rem;
}
.card {
    background-color: #67698fd8;
    color: lightblue;
}
.card-footer .bi{
    font-size: 1.3rem;
    cursor: pointer;
}
.due{
    font-size: .75rem;
    position: absolute;
    bottom: 0;
    right: 0;
    color: rgb(184, 189, 226);
    font-weight: bold;

}
.bi-three-dots{
    font-size: 2.5rem;
    cursor: pointer;
    color: rgb(127, 127, 190);
}
.date{
    padding:.2rem .5rem ;
    outline: none;
    border: none;
    background-color: #696b8a;
    height: 25px;
    border-radius: 5px;
    border: 1px solid white;

}
.form-control{
    background-color: #696b8a;
}
.check{
    color: rgb(18, 90, 18);
    font-weight: bold;
}
.pen{
    color: rgb(46, 50, 92);
}